# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment secrets
.env

# Angular build output
dist/
tmp/
out-tsc/
/.angular/cache
.sass-cache/

# IDEs
.idea/
*.sublime-workspace

# System
.DS_Store
Thumbs.db
